<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>

    <div class='account-page__inner--right user-form'>
      <%= form_with model: @user, url: users_path, local: true do |f| %>
        <%# エラーメッセージ表示 %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :login_id, "ログインID" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :login_id, autofocus: true %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :name, "氏名" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :name %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :kana_name, "氏名（カナ）" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :kana_name %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :email, "メールアドレス" %>
          </div>
          <div class='field-input'>
            <%= f.email_field :email %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :phone_number, "電話番号" %>
          </div>
          <div class='field-input'>
            <%= f.telephone_field :phone_number %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :gender, "性別" %>
          </div>
          <div class='field-input'>
            <%= f.select :gender, [["男性", 0], ["女性", 1], ["その他", 2]], prompt: "選択してください" %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :position, "役職" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :position %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :department, "部署" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :department %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :password, "パスワード" %>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :password_confirmation, "パスワード（確認）" %>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :role, "権限" %>
          </div>
          <div class='field-input'>
            <%= f.select :role, User.roles.keys.map { |k| [k.humanize, k] }, prompt: "選択してください" %>
          </div>
        </div>

        <div class='actions'>
          <%= f.submit "Create Account", class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>