<h1>患者一覧</h1>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>生年月日</th>
      <th>電話番号</th>
      <th>メール</th>
      <th>住所</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td>
          <%= link_to "#{patient.last_name} #{patient.first_name}", patient_medical_records_path(patient) %>
        </td>
        <td><%= patient.birth_date %></td>
        <td><%= patient.phone_number %></td>
        <td><%= patient.email %></td>
        <td><%= patient.address %></td>
        <td>
          <%= link_to '詳細', patient_path(patient) %> |
          <%= link_to '編集', edit_patient_path(patient) %> |
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規患者登録', new_patient_path, class: 'btn btn-primary' %>


<%= form_with url: destroy_user_session_path, method: :delete do %>
  <%= submit_tag "ログアウト" %>
<% end %>

<% if current_user.staff_id == "123456" %>
  <%= link_to "職員登録ページ", new_user_registration_path, class: "btn btn-primary" %>
<% else %>
  <p>職員登録ページへのアクセス権限がありません。</p>
<% end %>