<h1><%= @patient.last_name %> <%= @patient.first_name %> さんの情報</h1>

<ul>
  <li>姓：<%= @patient.last_name %></li>
  <li>名：<%= @patient.first_name %></li>
  <li>生年月日：<%= @patient.date_of_birth %></li>
  <li>電話番号：<%= @patient.phone_number %></li>
  <li>メール：<%= @patient.email %></li>
  <li>住所：<%= @patient.address %></li>
  <li>緊急連絡先氏名：<%= @patient.emergency_contact_name %></li>
  <li>緊急連絡先電話番号：<%= @patient.emergency_contact_phone %></li>
</ul>

<%= link_to '編集', edit_patient_path(@patient) %> |
<%= link_to '一覧に戻る', patients_path %>
